# encoding: utf-8
<%! import cherrypy %>
<%! import time %>
<%inherit file="layout.html" />
<%namespace name="_components" file="_components.html"/>

<h1>Watches</h1>
<div class="horizontal-menu">
    <a href="${cherrypy.url('/new')}">Add a new watch</a>
    <br class="clear" />
</div>

<hr />

% if len(watches) == 0:
    <p>No watches defined</p>
% else:
    % for w in watches:
        
        <div class="watch ${_components.watch_div_class(w)}" id="watch-${w.id}">
            % if worker_set.is_alive(w.id):
                <h2 class="data-title">${w.name}</h2>
            % else:
                <h2 class="data-title watch-inactive-header">${w.name} - worker disabled</h2>
            % endif
            

            <div class="horizontal-menu">
                ${_components.restart_worker_link(w)}
                ${_components.stop_worker_link(w)}
                ${_components.check_worker_link(w)}
                ${_components.delete_watch_link(w)}
                ${_components.edit_watch_link(w)}
                
                % if worker_set.is_building(w.id):
                    <span class="data-now-building">Now building</span>
                % else:
                    <span class="data-now-building"></span>
                % endif
                <br class="clear" />
            </div>
            <table class="watch-parameters">
                <tr>
                    <th>Status</th>
                    <td><strong class="data-status">${w.status}</strong></td>
                </tr>
                <tr>
                    <th>Last check</th>
                    <td class="data-last-check">
                        % if w.time:
                            ${w.formatted_time()}
                        % else:
                            UNKNOWN
                        % endif
                    </td>
                </tr>
            </table>
        </div>
        <hr />
    % endfor
% endif

<script>
    $(document).ready(function(){
        var registerUpdater = function() {
            setTimeout(updater, 5000);
        }

        var viewUpdater = function(data) {
            registerUpdater();
            
            $('.watch').each(function(){
                var element = $(this);
                var id = element.attr('id').substr("watch-".length);
                var watchData = data[id];
                if (watchData) {
                    var titleElement = element.find('.data-title')
                    var title = watchData['name'];
                    var statusElement = element.find('.data-status')
                    var timeElement = element.find('.data-last-check')
                    var buildingElement = element.find('.data-now-building')
                    
                    if (watchData['alive']) {
                        titleElement.removeClass('watch-inactive-header');
                    } else {
                        titleElement.addClass('watch-inactive-header');
                        title += " - worker disabled";
                    }
                    titleElement.text(title);
                    
                    statusElement.text(watchData['status']);

                    if (watchData['time']) {
                        timeElement.text(watchData['time']);
                    } else {
                        timeElement.text("UNKNOWN");
                    }

                    if (watchData['building']) {
                        /* FIXME: consider removing here */
                        buildingElement.text("Now building").show();
                    } else {
                        buildingElement.empty().hide();
                    }
                }
            });
        }

        var updater = function() {
            $.ajax({'url': "${cherrypy.url('/status')}", 'dataType': 'json', 'success': viewUpdater, 'error': registerUpdater});
        }

        registerUpdater();
    });
</script>